Repository ProjectTech4DevAI/ai-platform, pull requests merged in 2025-07, with the labels that each got.

#257 Auth : Only autheticated superusers allowed to register user
  backend/app/api/routes/users.py
  backend/app/tests/api/routes/test_users.py
Labels: bug

#248 Enhance Langfuse Integration: Add /responses Support, Fix /threads Context, and Decouple Dependencies
  backend/app/api/routes/responses.py
  backend/app/api/routes/threads.py
  backend/app/core/langfuse/langfuse.py
  backend/app/tests/api/routes/test_threads.py
Labels: enhancement, ready-for-review

#264 Threads endpoint : get project id from api key
  backend/app/api/deps.py
  backend/app/api/routes/threads.py
Labels: bug, ready-for-review

#267 Response API: Optimizing handling user context
  backend/app/api/routes/responses.py
  backend/app/tests/api/routes/test_responses.py
Labels: enhancement, ready-for-review

#273 Testing: Centralized Seed Data fixture
  backend/app/tests/api/routes/collections/test_collection_info.py
  backend/app/tests/api/routes/collections/test_create_collections.py
  backend/app/tests/api/routes/test_responses.py
  backend/app/tests/conftest.py
Labels: bug, ready-for-review

#278 Testcases: Using DB Transactions
  backend/app/tests/api/routes/collections/test_collection_info.py
  backend/app/tests/conftest.py
Labels: enhancement, on hold

#265 Add trace_id to Logs for Enhanced Traceability
  backend/app/core/langfuse/langfuse.py
  backend/app/core/logger.py
  backend/app/main.py
  backend/pyproject.toml
  backend/uv.lock
Labels: enhancement, ready-for-review

#275 Testing : Utility functions for test data setup
  backend/app/crud/__init__.py
  backend/app/crud/credentials.py
  backend/app/tests/api/routes/test_api_key.py
  backend/app/tests/api/routes/test_creds.py
  backend/app/tests/api/routes/test_org.py
  backend/app/tests/api/routes/test_project.py
  backend/app/tests/crud/test_api_key.py
  backend/app/tests/crud/test_credentials.py
  backend/app/tests/crud/test_org.py
  backend/app/tests/crud/test_project.py
  backend/app/tests/utils/collection.py
  backend/app/tests/utils/test_data.py
  backend/app/tests/utils/utils.py
Labels: bug

#280 Add API to Ingest OpenAI Assistant and Migrate to Support Multiple Vector Store IDs
  backend/app/alembic/versions/f2589428c1d0_change_vector_store_id_to_vector_store_ids.py
  backend/app/api/main.py
  backend/app/api/routes/assistants.py
  backend/app/api/routes/responses.py
  backend/app/crud/__init__.py
  backend/app/crud/assistants.py
  backend/app/models/assistants.py
  backend/app/seed_data/seed_data.json
  backend/app/seed_data/seed_data.py
  backend/app/tests/api/routes/test_assistants.py
  backend/app/tests/api/routes/test_responses.py
  backend/app/tests/crud/test_assistants.py
  backend/app/tests/utils/openai.py
  backend/app/tests/utils/utils.py
  backend/app/utils.py
Labels: enhancement, ready-for-review

#282 Testing : API Key Fixture
  backend/app/crud/__init__.py
  backend/app/crud/api_key.py
  backend/app/seed_data/seed_data.json
  backend/app/seed_data/seed_data.py
  backend/app/tests/api/routes/collections/test_collection_info.py
  backend/app/tests/api/routes/collections/test_create_collections.py
  backend/app/tests/api/routes/documents/test_route_document_upload.py
  backend/app/tests/api/routes/test_assistants.py
  backend/app/tests/api/routes/test_responses.py
  backend/app/tests/conftest.py
  backend/app/tests/crud/test_api_key.py
  backend/app/tests/utils/document.py
  backend/app/tests/utils/utils.py
Labels: enhancement, ready-for-review

#286 Add Crud Operations for Assistant Table
  backend/app/alembic/versions/e8ee93526b37_add_is_deleted_column_in_assistant_table.py
  backend/app/api/routes/assistants.py
  backend/app/api/routes/responses.py
  backend/app/crud/__init__.py
  backend/app/crud/assistants.py
  backend/app/models/__init__.py
  backend/app/models/assistants.py
  backend/app/tests/api/routes/test_assistants.py
  backend/app/tests/api/routes/test_responses.py
  backend/app/tests/crud/test_assistants.py
  backend/app/tests/utils/utils.py
  backend/app/utils.py
Labels: enhancement, ready-for-review

#258 Collection: Standardized OpenAI Creds Fetching
  .env.example
  backend/app/api/routes/collections.py
  backend/app/api/routes/documents.py
  backend/app/crud/rag/open_ai.py
  backend/app/tests/api/routes/collections/test_collection_info.py
  backend/app/tests/api/routes/collections/test_create_collections.py
  backend/app/tests/api/routes/documents/test_route_document_info.py
  backend/app/tests/api/routes/documents/test_route_document_permanent_remove.py
  backend/app/tests/api/routes/documents/test_route_document_remove.py
  backend/app/tests/conftest.py
  backend/app/tests/crud/collections/test_crud_collection_create.py
  backend/app/tests/crud/collections/test_crud_collection_delete.py
  backend/app/tests/crud/collections/test_crud_collection_read_all.py
  backend/app/tests/crud/collections/test_crud_collection_read_one.py
  backend/app/tests/crud/documents/test_crud_document_read_one.py
  backend/app/tests/utils/collection.py
  backend/app/tests/utils/openai.py
  backend/app/tests/utils/utils.py
Labels: enhancement

#291 Migration Script to Add Glific NGO to AI Platform: Onboarding, Credential and Assistant Sync
  backend/.gitignore
  backend/glific_migration/__init__.py
  backend/glific_migration/base_processor.py
  backend/glific_migration/client.py
  backend/glific_migration/config.json
  backend/glific_migration/organization_onboarding/processor.py
  backend/glific_migration/organization_onboarding/run_onboarding.py
  backend/glific_migration/organization_onboarding/sample_input.csv
  backend/glific_migration/sync_assistant/processor.py
  backend/glific_migration/sync_assistant/sample_input.csv
  backend/glific_migration/sync_assistant/sync_assistant.py
  backend/glific_migration/sync_credentials/processor.py
  backend/glific_migration/sync_credentials/run_credentials.py
  backend/glific_migration/sync_credentials/sample_input.csv
  backend/glific_migration/validator.py
Labels: enhancement, ready-for-review

#297 OpenAI Conversation: Lookup
  backend/app/api/routes/openai_conversation.py
  backend/app/api/routes/responses.py
  backend/app/crud/openai_conversation.py
  backend/app/models/openai_conversation.py
  backend/app/tests/api/routes/test_openai_conversation.py
  backend/app/tests/api/routes/test_responses.py
  backend/app/tests/crud/test_openai_conversation.py
Labels: enhancement

#314 Hotfix: OpenAI Migration
  backend/app/alembic/versions/e8ee93526b37_add_is_deleted_column_in_assistant_table.py
Labels: bug
