Repository ProjectTech4DevAI/ai-platform, pull requests merged in 2025-02, with the labels that each got.

#8 Github: Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
Labels: documentation

#11 Github: CI
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/app/api/dependencies.py
  src/app/api/v1/ai_assistant.py
  src/app/api/v1/login.py
  src/app/api/v1/logout.py
  src/app/api/v1/posts.py
  src/app/api/v1/rate_limits.py
  src/app/api/v1/tiers.py
  src/app/api/v1/users.py
  src/app/core/ai/assistant.py
  src/app/core/config.py
  src/app/core/db/crud_token_blacklist.py
  src/app/core/db/database.py
  src/app/core/db/models.py
  src/app/core/db/token_blacklist.py
  src/app/core/security.py
  src/app/core/setup.py
  src/app/core/utils/cache.py
  src/app/core/utils/rate_limit.py
  src/app/core/worker/functions.py
  src/app/crud/crud_rate_limit.py
  src/app/models/post.py
  src/app/models/rate_limit.py
  src/app/models/tier.py
  src/app/models/user.py
  src/app/schemas/post.py
  src/app/schemas/user.py
  src/scripts/create_first_superuser.py
  tests/helpers/generators.py
  tests/test_user.py
Labels: enhancement

#19 Distill README's "getting started" to basic information
  .env.example
  README.md
Labels: documentation

#20 CI: Updated Versions
  .env.example
  .github/workflows/ci.yml
  pyproject.toml
Labels: enhancement

#29 CI: update to 3.13.2
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Labels: enhancement

#28 Authentication: Scaffolding
  .gitignore
  src/app/models/credentials.py
  src/app/models/organization.py
  src/app/models/project.py
  src/app/schemas/credentials.py
  src/app/schemas/organization.py
  src/app/schemas/project.py
Labels: enhancement

#31 Readme: Update section for pre-commit for contributors
  README.md
Labels: documentation

#36 Creating CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#17 OpenAI: Threads
  poetry.lock
  pyproject.toml
  src/app/api/v1/__init__.py
  src/app/api/v1/threads.py
  src/app/schemas/threads.py
Labels: enhancement

#50 OpenAI: Removing citations
  src/app/api/v1/threads.py
  src/app/schemas/threads.py
Labels: enhancement

#45 Feature: convert SQLAlchemy model to engine-specific SQL
  src/app/api/v1/__init__.py
  src/app/api/v1/data_defn_langs.py
Labels: enhancement

#41 Document module: fix model property ordering
  src/app/models/__init__.py
  src/app/models/document.py
Labels: bug

#43 Documentation enhancement: additional material for beginners
  README.md
  src/app/api/v1/__init__.py
  src/app/api/v1/heartbeat.py
Labels: documentation, enhancement

#51 OpenAI: Threads Testcases
  src/app/api/v1/__init__.py
  src/app/api/v1/data_defn_langs.py
  src/app/api/v1/heartbeat.py
  tests/api/v1/test_threads.py
Labels: enhancement
