Repository ProjectTech4DevAI/ai-platform, pull requests merged in 2025-05, with the labels that each got.

#160 Adding Timestamps
  backend/app/alembic/versions/0f205e3779ee_add_api_key_table.py
  backend/app/alembic/versions/543f97951bd0_add_credential_table.py
  backend/app/alembic/versions/99f4fc325617_add_organization_project_setup.py
  backend/app/alembic/versions/c43313eca57d_add_document_tables.py
  backend/app/alembic/versions/e2412789c190_initialize_models.py
  backend/app/api/deps.py
  backend/app/crud/api_key.py
  backend/app/crud/document.py
  backend/app/crud/organization.py
  backend/app/crud/project.py
  backend/app/models/api_key.py
  backend/app/models/credentials.py
  backend/app/models/document.py
  backend/app/models/organization.py
  backend/app/models/project.py
  backend/app/models/project_user.py
  backend/app/tests/crud/documents/test_crud_delete.py
  backend/app/tests/crud/documents/test_crud_update.py
Labels: enhancement

#168 Seed: fixed the IDs of org and project
  backend/app/seed_data/seed_data.json
Labels: bug

#162 Langfuse: Setup Basic Tracing
  .env.example
  backend/app/api/routes/threads.py
  backend/app/core/config.py
  backend/pyproject.toml
  backend/uv.lock
Labels: enhancement

#170 Swagger UI: Simplify #31 #167
  backend/app/api/routes/documents.py
  backend/app/api/routes/login.py
  backend/app/api/routes/organization.py
  backend/app/api/routes/private.py
  backend/app/api/routes/project.py
  backend/app/api/routes/project_user.py
  backend/app/api/routes/users.py
  backend/app/api/routes/utils.py
Labels: enhancement

#128 [ Feature: document module ] Collection endpoints
  backend/app/alembic/versions/f23675767ed2_add_collection_tables.py
  backend/app/api/main.py
  backend/app/api/routes/collections.py
  backend/app/api/routes/documents.py
  backend/app/core/cloud/__init__.py
  backend/app/core/cloud/storage.py
  backend/app/core/util.py
  backend/app/crud/__init__.py
  backend/app/crud/collection.py
  backend/app/crud/document.py
  backend/app/crud/document_collection.py
  backend/app/crud/rag/__init__.py
  backend/app/crud/rag/open_ai.py
  backend/app/models/__init__.py
  backend/app/models/collection.py
  backend/app/models/document_collection.py
  backend/app/models/user.py
  backend/app/tests/crud/collections/test_crud_collection_create.py
  backend/app/tests/crud/collections/test_crud_collection_delete.py
  backend/app/tests/crud/collections/test_crud_collection_read_all.py
  backend/app/tests/crud/collections/test_crud_collection_read_one.py
  backend/app/tests/crud/documents/test_crud_document_delete.py
  backend/app/tests/crud/documents/test_crud_document_read_many.py
  backend/app/tests/crud/documents/test_crud_document_read_one.py
  backend/app/tests/crud/documents/test_crud_document_update.py
  backend/app/tests/utils/collection.py
  backend/app/tests/utils/document.py
  backend/app/tests/utils/utils.py
  backend/pyproject.toml
  backend/uv.lock
Labels: enhancement

#176 Rename document endpoints to be more descriptive
  backend/app/api/routes/documents.py
  backend/app/tests/api/routes/documents/test_route_document_info.py
  backend/app/tests/api/routes/documents/test_route_document_list.py
  backend/app/tests/api/routes/documents/test_route_document_remove.py
  backend/app/tests/api/routes/documents/test_route_document_upload.py
  backend/app/tests/crud/collections/test_crud_collection_create.py
  backend/app/tests/crud/collections/test_crud_collection_delete.py
  backend/app/tests/crud/collections/test_crud_collection_read_all.py
  backend/app/tests/crud/collections/test_crud_collection_read_one.py
  backend/app/tests/utils/collection.py
  backend/app/tests/utils/utils.py
Labels: enhancement

#171 Dalgo Migration: Add threads endpoints (thread creation+polling)
  backend/app/alembic/versions/79e47bc3aac6_add_threads_table.py
  backend/app/api/routes/threads.py
  backend/app/crud/__init__.py
  backend/app/crud/thread_results.py
  backend/app/models/__init__.py
  backend/app/models/threads.py
  backend/app/tests/api/routes/test_creds.py
  backend/app/tests/api/routes/test_threads.py
  backend/app/tests/conftest.py
  backend/app/tests/crud/test_thread_result.py
Labels: enhancement

#183 [ Feature ] Make calling collection creation with a webhook optional
  backend/app/api/routes/collections.py
Labels: enhancement

#185 dalgo migration : Incorrect Request Type in start_thread Endpoint
  backend/app/api/routes/threads.py
Labels: bug

#191 [ BUG] Gracefully handle empty callback URL
  backend/app/api/routes/collections.py
Labels: bug

#181 [ Documentation ] Document and collection routes
  backend/app/api/docs/collections/README.md
  backend/app/api/docs/collections/create.md
  backend/app/api/docs/collections/delete.md
  backend/app/api/docs/collections/docs.md
  backend/app/api/docs/collections/info.md
  backend/app/api/docs/collections/list.md
  backend/app/api/docs/documents/README.md
  backend/app/api/docs/documents/delete.md
  backend/app/api/docs/documents/info.md
  backend/app/api/docs/documents/list.md
  backend/app/api/docs/documents/upload.md
  backend/app/api/routes/collections.py
  backend/app/api/routes/documents.py
  backend/app/utils.py
Labels: documentation
