Repository ProjectTech4DevAI/ai-platform, pull requests merged in 2025-08, with the labels that each got.

#311 Added logs for Threads and Response Endpoint
  backend/app/api/routes/responses.py
  backend/app/api/routes/threads.py
  backend/app/crud/thread_results.py
Labels: enhancement, ready-for-review

#318 OpenAI conversation: Standardizing API response
  backend/app/api/routes/responses.py
  backend/app/utils.py
Labels: bug, ready-for-review

#328 Collection: adding an error message column
  backend/app/alembic/versions/5a59c6c29a82_add_error_message_column_in_collections_.py
  backend/app/api/routes/collections.py
  backend/app/crud/document.py
  backend/app/models/collection.py
Labels: bug, ready-for-review

#326 Classification : Model evaluation of fine tuned models
  backend/app/alembic/versions/e317d05f49e4_add_model_evaluation_table.py
  backend/app/api/main.py
  backend/app/api/routes/model_evaluation.py
  backend/app/core/finetune/evaluation.py
  backend/app/crud/__init__.py
  backend/app/crud/model_evaluation.py
  backend/app/models/__init__.py
  backend/app/models/fine_tuning.py
  backend/app/models/model_evaluation.py
  backend/app/tests/api/routes/test_model_evaluation.py
  backend/app/tests/crud/test_model_evaluation.py
  backend/app/tests/utils/test_data.py
Labels: enhancement, ready-for-review

#325 Response API: Fixing testcases
  backend/app/tests/api/routes/test_responses.py
Labels: bug

#336 Add Support for Custom assistant_id in Create Assistant Endpoint
  backend/app/alembic/versions/38f0e8c8dc92_alter_unique_constraint_assistant_table.py
  backend/app/crud/assistants.py
  backend/app/models/assistants.py
  backend/app/tests/crud/test_assistants.py
Labels: enhancement, ready-for-review

#350 Add unique constraint on project name and organization ID, reduce minimum project name length
  backend/app/alembic/versions/8725df286943_unique_constraint_on_project_name_and_.py
  backend/app/crud/project.py
  backend/app/models/onboarding.py
  backend/app/models/project.py
  backend/app/tests/crud/test_project.py
Labels: ready-for-review

#343 Classification : train and test data to s3
  backend/app/alembic/versions/72896bcc94da_add_data_to_s3_url_columns.py
  backend/app/api/routes/fine_tuning.py
  backend/app/core/finetune/preprocessing.py
  backend/app/models/fine_tuning.py
Labels: enhancement, ready-for-review

#359 Classification : retaining prediction and fetching data from s3 for model evaluation
  backend/app/alembic/versions/06a8bed9e7a6_add_additional_columns_to_model_eval.py
  backend/app/api/routes/model_evaluation.py
  backend/app/core/finetune/evaluation.py
  backend/app/core/finetune/preprocessing.py
  backend/app/crud/model_evaluation.py
  backend/app/models/model_evaluation.py
  backend/app/tests/crud/test_model_evaluation.py
  backend/app/tests/utils/test_data.py
Labels: enhancement, ready-for-review
