Repository ProjectTech4DevAI/ai-platform, pull requests merged in 2025-06, with the labels that each got.

#208 Seed Data: Fix hardcoded IDs and DB issue
  backend/app/seed_data/seed_data.json
  backend/app/seed_data/seed_data.py
Labels: enhancement

#239 Response API: Hotfixes
  backend/app/api/routes/responses.py
Labels: enhancement

#242 Response API: Support non vector store assitants
  backend/app/api/routes/responses.py
  backend/app/tests/api/routes/test_responses.py
Labels: enhancement

#240 Implement Permanent File Deletion for Document Endpoints
  backend/app/api/docs/documents/permanent_delete.md
  backend/app/api/routes/documents.py
  backend/app/core/cloud/storage.py
  backend/app/tests/api/routes/documents/test_route_document_permanent_remove.py
  backend/app/tests/utils/document.py
Labels: enhancement, ready-for-review

#243 Refactor Collection Creation for no delay
  backend/app/alembic/versions/3389c67fdcb4_add_alter_columns_in_collections_table.py
  backend/app/api/deps.py
  backend/app/api/routes/collections.py
  backend/app/core/cloud/storage.py
  backend/app/crud/collection.py
  backend/app/models/collection.py
  backend/app/models/organization.py
  backend/app/models/project.py
  backend/app/tests/api/routes/collections/test_collection_info.py
  backend/app/tests/api/routes/collections/test_create_collections.py
  backend/app/tests/conftest.py
  backend/app/tests/utils/collection.py
  backend/app/tests/utils/utils.py
Labels: bug, dalgo-migration, ready-for-review

#246 Added logs for API Key, Collection and Documents Endpoint
  backend/app/api/routes/api_keys.py
  backend/app/api/routes/collections.py
  backend/app/api/routes/documents.py
  backend/app/api/routes/responses.py
  backend/app/api/routes/threads.py
  backend/app/core/cloud/storage.py
  backend/app/core/logger.py
  backend/app/core/middleware.py
  backend/app/crud/api_key.py
  backend/app/crud/collection.py
  backend/app/crud/document.py
  backend/app/crud/rag/open_ai.py
  backend/app/main.py
  backend/app/utils.py
Labels: enhancement, ready-for-review
