Repository ProjectTech4DevAI/ai-platform, pull requests merged in 2025-03, with the labels that each got.

#1 Template enhancement: move models and crud to independent directories
  .github/DISCUSSION_TEMPLATE/questions.yml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/privileged.yml
  backend/app/alembic/env.py
  backend/app/crud/__init__.py
  backend/app/crud/user.py
  backend/app/models/__init__.py
  backend/app/models/auth.py
  backend/app/models/item.py
  backend/app/models/message.py
  backend/app/models/user.py
  backend/app/tests/crud/__init__.py
Labels: enhancement

#7 Github: Templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
Labels: enhancement, internal

#3 Use modularized versions of crud
  backend/app/api/routes/login.py
  backend/app/api/routes/users.py
Labels: bug

#18 Fix SQLModel import error
  backend/app/alembic/env.py
Labels: bug

#34 Core: Logger
  backend/app/core/logger.py
Labels: enhancement

#29 [ Feature: document module ] Schema setup and basic route
  backend/app/api/main.py
  backend/app/api/routes/documents.py
  backend/app/models/__init__.py
  backend/app/models/document.py
  backend/app/models/user.py
Labels: enhancement

#65 Add Project User Management
  backend/app/api/deps.py
  backend/app/api/main.py
  backend/app/api/routes/project_user.py
  backend/app/crud/project_user.py
  backend/app/models/__init__.py
  backend/app/models/project.py
  backend/app/models/project_user.py
  backend/app/models/user.py
  backend/app/tests/api/routes/test_project_user.py
  backend/app/tests/api/test_deps.py
  backend/app/tests/crud/test_project_user.py
  backend/app/utils.py
Labels: enhancement

#74 Github: CI
  .env.example
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/continuous_integration.yml
  README.md
  backend/scripts/test.sh
Labels: enhancement

#91 Github: Badges
  README.md
Labels: documentation

#40 OpenAI: Threads
  backend/app/api/main.py
  backend/app/api/routes/threads.py
  backend/app/core/__init__.py
  backend/app/core/config.py
  backend/app/core/logger.py
  backend/app/tests/api/routes/test_threads.py
  backend/pyproject.toml
  backend/uv.lock
Labels: enhancement

#94 Threads to Main
  .env.example
  .github/workflows/continuous_integration.yml
  backend/app/api/main.py
  backend/app/api/routes/threads.py
  backend/app/core/__init__.py
  backend/app/core/config.py
  backend/app/core/logger.py
  backend/app/tests/api/routes/test_threads.py
  backend/pyproject.toml
  backend/uv.lock
Labels: enhancement

#59 [ Feature: document module ] document endpoints
  .env
  .gitignore
  backend/app/api/routes/documents.py
  backend/app/core/cloud/__init__.py
  backend/app/core/cloud/storage.py
  backend/app/core/config.py
  backend/app/core/util.py
  backend/app/crud/__init__.py
  backend/app/crud/document.py
  backend/app/initial_storage.py
  backend/app/models/document.py
  backend/app/tests/api/routes/documents/test_delete.py
  backend/app/tests/api/routes/documents/test_ls.py
  backend/app/tests/api/routes/documents/test_stat.py
  backend/app/tests/api/routes/documents/test_upload.py
  backend/app/tests/crud/documents/test_delete.py
  backend/app/tests/crud/documents/test_read_many.py
  backend/app/tests/crud/documents/test_read_one.py
  backend/app/tests/crud/documents/test_update.py
  backend/app/tests/utils/document.py
  backend/pyproject.toml
  backend/scripts/prestart.sh
Labels: enhancement
